.mainMenuButton {
    height: 60px;
    width: 200px;
    font-size: 18px !important;
    position: absolute !important;
    margin-left: 30px !important;
}

.verticalLine {
    border-top: 1px;
    height: 80%;
}

.horizontalLine {
    border-top: 1px;
    height: 100%;
}

.fontTitles {
    text-align: center;
    font-size: 27px;
    color: dimgrey;
}

.welcomeButtons {
    height: 80px;
    width: 450px;
    font-size: 24px !important;
}
.logoAndTitle {
    display: flex;
    flex-direction: row;
}

.pageMargin {
    width: 100%;
    margin-top: 30px;
}

.titlePosition {
    margin-top: 26px !important;
    margin-left: 10px !important;
}

.topLogo {
    width: 300px;
}

.fontNormalText {
    text-align: center;
    font-size: 16px;
}

.fontNormalTextNonCenter {
    font-size: 16px;
}

.helpButton {
    height: 60px;
    width: 200px;
    font-size: 18px !important;
    position: absolute !important;
    margin-right: 30px !important;
    right: 0;
}

.helpTitle {
    font-size: 30px;
    font-weight: bold;
}

.helpSubTitle {
    font-size: 20px;
    text-decoration: underline;
}

.helpSubSubTitle {
    font-size: 18px;
    font-weight: bold;
}

.pageTextMargin {
    margin-left: 50px;
}

.welcomeBox {
    width: 60%;
    margin: 20px auto;
}

